[Desktop Entry]
Version=1.0
Name=JokeCoin Core
Comment=JokeCoin P2P Cryptocurrency
Comment[fr]=JokeCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=JokeCoin, eşten eşe kriptografik sanal para birimi
Exec=jokecoin-qt %u
Terminal=false
Type=Application
Icon=jokecoin128
MimeType=x-scheme-handler/jokecoin;
Categories=Office;Finance;
StartupWMClass=JokeCoin-qt
