policy_module(jokecoin, 1.100.1)

########################################
#
# Declarations
#

type jokecoin_t;
type jokecoin_exec_t;
init_daemon_domain(jokecoin_t, jokecoin_exec_t)

permissive jokecoin_t;

type jokecoin_initrc_exec_t;
init_script_file(jokecoin_initrc_exec_t)

type jokecoin_conf_t;
files_type(jokecoin_conf_t)

type jokecoin_var_lib_t;
files_type(jokecoin_var_lib_t)

type jokecoin_var_run_t;
files_type(jokecoin_var_run_t)

type jokecoin_port_t;
corenet_port(jokecoin_port_t)

########################################
#
# jokecoin local policy
#
allow jokecoin_t self:process { fork };

allow jokecoin_t self:fifo_file rw_fifo_file_perms;
allow jokecoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(jokecoin_t, jokecoin_conf_t, jokecoin_conf_t)
manage_files_pattern(jokecoin_t, jokecoin_conf_t, jokecoin_conf_t)

manage_dirs_pattern(jokecoin_t, jokecoin_var_lib_t, jokecoin_var_lib_t)
manage_files_pattern(jokecoin_t, jokecoin_var_lib_t, jokecoin_var_lib_t)
files_var_lib_filetrans(jokecoin_t, jokecoin_var_lib_t, { dir file })

manage_dirs_pattern(jokecoin_t, jokecoin_var_run_t, jokecoin_var_run_t)
manage_files_pattern(jokecoin_t, jokecoin_var_run_t, jokecoin_var_run_t)

sysnet_dns_name_resolve(jokecoin_t)
corenet_all_recvfrom_unlabeled(jokecoin_t)

allow jokecoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(jokecoin_t)
corenet_tcp_sendrecv_generic_node(jokecoin_t)
corenet_tcp_sendrecv_all_ports(jokecoin_t)
corenet_tcp_bind_generic_node(jokecoin_t)

gen_require(`
    type jokecoin_port_t;
')
allow jokecoin_t jokecoin_port_t:tcp_socket name_bind;

gen_require(`
    type jokecoin_port_t;
')
allow jokecoin_t jokecoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(jokecoin_t)

files_read_etc_files(jokecoin_t)

miscfiles_read_localization(jokecoin_t)

sysnet_dns_name_resolve(jokecoin_t)

allow jokecoin_t jokecoin_exec_t:file execute_no_trans;
allow jokecoin_t self:process setsched;
corecmd_exec_ls(jokecoin_t)
corenet_tcp_connect_http_port(jokecoin_t)
dev_read_urand(jokecoin_t)
fs_getattr_xattr_fs(jokecoin_t)
kernel_read_system_state(jokecoin_t)
