# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=JokeCoin Core
Comment=JokeCoin Core QT test network
GenericName=JokeCoin Digital Currency QT client testnet network
Exec=jokecoin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/jokecoin_testnet.png
MimeType=x-scheme-handler/joke;
Categories=X-Office;X-Finance;
Keywords=internet;jokecoin;zjoke;tjoke;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
