# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=JokeCoin Core
Comment=JokeCoin Core QT main network
GenericName=JokeCoin Digital Currency QT client main network
Exec=jokecoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/jokecoin.png
MimeType=x-scheme-handler/jokecoin;
Categories=X-Office;X-Finance;
Keywords=internet;jokecoin;zjoke;joke;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0